h1 {
    text-align: center;
    background: #83CFE2;
    color: #000000;
    font-size: x-large;
    font-family: Arial;
    font-weight: 700;
}

h3 {
    color: #000000;
    font-size: medium;
    top: 30px;
    left: 200px;
}

.b1 {
    position: relative;
    top: -7px;
    left: 10px;
}

.b2 {
    position: relative;
    height: 22px;
    top: 1px;
    left: 10px;
}

.b3 {
    position: relative;
    height: 22px;
    top: -10px;
}

body {
    background: #EEEDED;
}

button {
    color: #000000;
    font-size: medium;
    font-family: Arial;
    font-weight: 600;
}

textarea {
    overflow-y: scroll;
    outline: none;
    width: 75%;  
    border: 1px solid #000000;
}